<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>This is userinfo form!</h1>
    <div>
        <form action="/polls/userinfo/" method="post">
            <label for="username">
                username:
                <input type="text" name="username" id="">
            </label>
            <br/>
            <label for="email">
                email:
                <input type="text" name="email" id="">
            </label>
            <br/>
            <label for="tel">
                tel:
                <input type="text" name="tel" id="">
            </label>
            <br/>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
</body>
</html>